numpy
opencv-python
cvzone
firebase_admin
mediapipe
PySide6
BlurWindow
EZSheets
requests
gTTS
wheel
dlib
cmake
setuptools
face-recognition
firebase-admin
collection
google-auth
google-auth-oauthlib
google-api-python-client
tqdm